{#
    This is a custom template derived from:
    https://github.com/openapi-generators/openapi-python-client/tree/v0.22.0/openapi_python_client/templates/endpoint_init.py.jinja
#}

{# CHANGE START (1) - expose all the endpoints functionality via imports #}
{% for endpoint in endpoint_collection.endpoints %}
from .{{ endpoint.name }} import *
{% endfor %}
{# CHANGE END (1) #}

{# CHANGE START (2) - list all the possible endpoints for the API section #}
ENDPOINT_NAMES = [
{% for endpoint in endpoint_collection.endpoints %}
    "{{ endpoint.name }}",
{% endfor %}
]
{# CHANGE END (2) #}
