{#
    This is a custom template derived from:
    https://github.com/openapi-generators/openapi-python-client/blob/v0.22.0/openapi_python_client/templates/pyproject_ruff.toml.jinja
#}
[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["F", "I", "UP"]
